body {
    background-color: hsl(212deg 45% 89%);
}

.container {
    display: block;
    margin: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    align-items: center;
    background-color: whitesmoke;
    max-width: 500px;
    padding: 1.5rem;
    justify-content: center;
    margin: auto;
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 0.7rem;
    border: 20px;
}

h2 {
    font-weight: bold;
    font-family: sans-serif;
}

.attribution {
    margin-top: 20px;
    font-size: 15pt;
}